
@{
    Layout = null;
    HttpCookie cookie = Request.Cookies["qldt_userlogin"];
    string pass = "",remeber = "";
    string username = "";

    string remeberTitle = "Ghi nhớ";
    if ((cookie != null) && (cookie.Value != ""))
    {
        username = cookie.Values["qldt_username"] as string;
        pass = cookie.Values["qldt_password"] as string;
        remeber = cookie.Values["qldt_remember"] as string;
    }
}

<!DOCTYPE html>
<html lang="en" style="background-image:url('/Content/img/bg-login-img.jpg')">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template" />
    <meta name="author" content="GeeksLabs" />
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal" />
    <link rel="shortcut icon" href="/Content/bcth2Layout/img/favicon.png" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Đăng nhập hệ thống</title>
    <link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/login.css">
     <style>
         /* .squared_checkbox */
.squared_checkbox {
  width: 16px;
  position: relative;
  margin: 0;
  float: left;
  margin-right: 5px;
}
.squared_checkbox label {
  width: 16px !important;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  text-indent: -9999px;
  margin: 0 !important;
}
.squared_checkbox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 3px solid #666;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.squared_checkbox label:hover::after {
  opacity: 0.5;
}
.squared_checkbox input[type=checkbox] {
  visibility: hidden;
}
.squared_checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
     </style>
</head>

<body class="login_2nd hasBanner">
    <div id="Section" class="row section  pc100h">
        <!-- .grd-blue -->
        <div class="opacity-bg"></div>
        <div class="">

        </div>
        <div class="login_header header_tvdt">
            <div class="row" style="margin-left:100px;margin-right:100px;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="head_left">
                            <div class="logo">
                                <a href="/home.html" title="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                                    <img src="~/Content/img/logo-quan-ly-diem-thi.png" alt="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                                </a>
                            </div>
                        </div>
                        @*<div class="">
                            <div class="logo">
                                <a href="/home.html"  title="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                                    <img src="~/Content/img/logo-removebg.png" style="max-height:100px" alt="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                                </a>
                            </div>
                        </div>*@
                        <img  src="~/Content/img/logo-removebg.png" style="max-height:100px;float:right" alt="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                    </div>
                </div>
            </div>
        </div>


        <div class="login_mainContent" style="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="stick_img">
                            <img src="~/Content/img/logo-removebg.png" alt="Hệ thống quản lý thông tin dữ liệu điểm thi tốt nghiệp">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 pull-left" style="border-style: solid;border-color: white;">
                        <div class="login_2nd_content" >
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "loginForm", @role = "form" }))
                    {
                        <div class="login-content">
                            <h1 class="h3 text-bold text-red text-center" style="font-weight:bold;font-size:21px">HỆ THỐNG QUẢN LÍ ĐIỂM THI</h1>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                    <div class="col-lg-8">
                                        <div class="access-limit">
                                            <p class="no-margin text-red text-bold" style="text-align: left;">Chú ý:  </p>
                                            <p class="no-margin text-red text-bold" style="text-align: left;">Đăng nhập sai mật khẩu quá 5 lần sẽ bị khóa tài trong 15 phút.</p>
                                            <p class="no-margin text-red text-bold" style="text-align: left;"></p>
                                        </div>
                                        <div class="form-group">
                                            <h2 class="h4 text-red" style="font-weight:bold"> Đăng nhập</h2>
                                        </div>
                                      
                                        <div class="no-print margin-bottom">
                                            @if (ViewBag.LoginResult != null)
                                            {
                                                <div class="callout callout-danger" style="margin-bottom: 0!important;">
                                                    @ViewBag.LoginResult
                                                </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-5 Col-sm-5 col-xs-5  pull-left h5 text-bold" style="font-weight:bold">Tên đăng nhập</label>
                                                <div class="col-lg-7 col-sm-7">
                                                    <input id="username" name="user" value="@username" type="text" class="form-control" placeholder="Tên đăng nhập">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-5 Col-sm-5 col-xs-5 pull-left h5 text-bold" style="font-weight:bold">Mật khẩu</label>
                                                <div class="col-lg-7 col-sm-7">
                                                    <input id="password" name="pwd" type="password" value="@pass" class="form-control" placeholder="Mật khẩu">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-7 col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            @if(remeber == "true")
                                                            {
                                                                <input type="checkbox" name="remeber" checked value="true" /> @remeberTitle
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="remeber" value="true"> @remeberTitle
                                                            }
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-5 Col-sm-5 col-xs-5 pull-left h5 text-bold" style="font-weight:bold"></label>
                                                <div class="col-lg-7 col-sm-7">
                                                    <input type="submit" name="cms_authenticate_do_login" value="Đăng nhập" id="cms_authenticate_do_login" class="btn btn-info btn-block btn-flat">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-lg-5"></div>
                                            <div class="col-lg-7">

                                            </div>

                                        </div>
                                        @*<div class="form-group">
                    <div class="row">
                        <div class="pull-right col-lg-7 col-sm-10">
                            <input type="submit" name="cms_authenticate_do_login" value="Đăng nhập" id="cms_authenticate_do_login" class="btn btn-info btn-block btn-flat">
                        </div>
                    </div>
                </div>*@
                                    </div>
                                </div>
                        </div>
                    }
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login_footer_tvdt" style="background-color:#1b93fe">

                <div class="col-lg-5" style="margin-left:100px;font-size:16px">
                    <div class="row" style="color:white;font-size:15px">Bản quyển thuộc Sở GD&DT Lào Cai</div>
                    <div class="row" style="color:white;font-size:15px">Địa chỉ : Khối 4 - Đường 30/4 - Bắc Lệnh - TP Lào Cai</div>
                    <div class="row" style="color:white;font-size:15px">Điện thoại : (0214)3840 120 - Fax: (0214)3842 425</div>
                    <div class="row" style="color:white;font-size:15px">Email : phongkhaothi@laocai.edu.vn</div>
                </div>
            <div class="col-lg-2">
                </div>
                <div class="col-lg-4">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <p style="color:white;font-size:15px">Công ty TNHH MTV thương mại và tổng hợp Trọng Nhân</p>
                                <span class="pre-line"></span>
                            </div>
                            <div class="row">
                              
                                <div class="col-lg-3">
                                    <span style="color:white;font-size:15px">Địa chỉ email:  </span>
                                    <span class="pre-line">.</span>
                                </div>

                                <div class="col-lg-3">
                                    <span style="color:white;font-size:15px">Hotline: </span>
                                    <span class="pre-line">.</span>
                                </div>
                                <div class="col-lg-3">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </div>

</html>
