.div label {
    font-weight: 700 !important;
}

.login_footer {
    text-align: center;
    color: #000;
    position: fixed;
    bottom: 30px;
    padding: 2px;
    width: 100%;
    font-weight:700
}

.form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.login-box, .register-box {
    width: 30% !important;
}

.login-content {
    margin-top: 10%;
}

.content-wrapper, .register-page {
    background-image: url('img/bg-login-img.jpg')!important;
    background-color: #488cbc !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-white {
    background-color: #fff;
}

@media (max-width: 768px) {
    .login-box, .register-box {
        width: 90% !important;
    }
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}

.content-wrapper, .main-footer{
    margin-left: 0px;
}

.content-header{
    background-color: dodgerblue;
    min-height:35px;
}

.main-footer, .main-footer div{
    background-color: dodgerblue;
    color: white
}

.nav>li>a{
    padding-bottom: 0!important;
    padding-top: 0!important;
}
