
@{
    ViewBag.Title = "Create";
}
@section script
{
    <script>
        function Save()
        {
            $.post("@Url.Action("saveJS", "Settings")",
        {
            Id: document.getElementById('txtId').value,
            Loai: document.getElementById('loaiCauHinh').value,
            Ten: document.getElementById('tenCauHinh').value,

            status1: document.getElementById('st_v1').checked,
            name1: document.getElementById('ten_v1').value,
            type1: document.getElementById('loai_v1').value,

            status2: document.getElementById('st_v2').checked,
            name2: document.getElementById('ten_v2').value,
            type2: document.getElementById('loai_v2').value,

            status3: document.getElementById('st_v3').checked,
            name3: document.getElementById('ten_v3').value,
            type3: document.getElementById('loai_v3').value,

            status4: document.getElementById('st_v4').checked,
            name4: document.getElementById('ten_v4').value,
            type4: document.getElementById('loai_v4').value,

            status5: document.getElementById('st_v5').checked,
            name5: document.getElementById('ten_v5').value,
            type5: document.getElementById('loai_v5').value,

            status6: document.getElementById('st_v6').checked,
            name6: document.getElementById('ten_v6').value,
            type6: document.getElementById('loai_v6').value,

            status7: document.getElementById('st_v7').checked,
            name7: document.getElementById('ten_v7').value,
            type7: document.getElementById('loai_v7').value,

            status8: document.getElementById('st_v8').checked,
            name8: document.getElementById('ten_v8').value,
            type8: document.getElementById('loai_v8').value,

            status9: document.getElementById('st_v9').checked,
            name9: document.getElementById('ten_v9').value,
            type9: document.getElementById('loai_v9').value,

            status10: document.getElementById('st_v10').checked,
            name10: document.getElementById('ten_v10').value,
            type10: document.getElementById('loai_v10').value,

            status11: document.getElementById('st_v11').checked,
            name11: document.getElementById('ten_v11').value,
            type11: document.getElementById('loai_v11').value,

            status12: document.getElementById('st_v12').checked,
            name12: document.getElementById('ten_v12').value,
            type12: document.getElementById('loai_v12').value,

            status13: document.getElementById('st_v13').checked,
            name13: document.getElementById('ten_v13').value,
            type13: document.getElementById('loai_v13').value,

            status13: document.getElementById('st_v13').checked,
            name13: document.getElementById('ten_v13').value,
            type13: document.getElementById('loai_v13').value,

            status14: document.getElementById('st_v14').checked,
            name14: document.getElementById('ten_v14').value,
            type14: document.getElementById('loai_v14').value,

            status15: document.getElementById('st_v15').checked,
            name15: document.getElementById('ten_v15').value,
            type15: document.getElementById('loai_v15').value,

            status16: document.getElementById('st_v16').checked,
            name16: document.getElementById('ten_v16').value,
            type16: document.getElementById('loai_v16').value,

            status17: document.getElementById('st_v17').checked,
            name17: document.getElementById('ten_v17').value,
            type17: document.getElementById('loai_v17').value,

            status18: document.getElementById('st_v18').checked,
            name18: document.getElementById('ten_v18').value,
            type18: document.getElementById('loai_v18').value,

            status19: document.getElementById('st_v19').checked,
            name19: document.getElementById('ten_v19').value,
            type19: document.getElementById('loai_v19').value,
            //19----------------------------------------------------------------
            status20: document.getElementById('st_v20').checked,
            name20: document.getElementById('ten_v20').value,
            type20: document.getElementById('loai_v20').value,

            status21: document.getElementById('st_v21').checked,
            name21: document.getElementById('ten_v21').value,
            type21: document.getElementById('loai_v21').value,

            status22: document.getElementById('st_v22').checked,
            name22: document.getElementById('ten_v22').value,
            type22: document.getElementById('loai_v22').value,

            status23: document.getElementById('st_v23').checked,
            name23: document.getElementById('ten_v23').value,
            type23: document.getElementById('loai_v23').value,

            status24: document.getElementById('st_v24').checked,
            name24: document.getElementById('ten_v24').value,
            type24: document.getElementById('loai_v24').value,

            status25: document.getElementById('st_v25').checked,
            name25: document.getElementById('ten_v25').value,
            type25: document.getElementById('loai_v25').value,

            status26: document.getElementById('st_v26').checked,
            name26: document.getElementById('ten_v26').value,
            type26: document.getElementById('loai_v26').value,

            status27: document.getElementById('st_v27').checked,
            name27: document.getElementById('ten_v27').value,
            type27: document.getElementById('loai_v27').value,

            status28: document.getElementById('st_v28').checked,
            name28: document.getElementById('ten_v28').value,
            type28: document.getElementById('loai_v28').value,

            status29: document.getElementById('st_v29').checked,
            name29: document.getElementById('ten_v29').value,
            type29: document.getElementById('loai_v29').value,
            //-------
            status30: document.getElementById('st_v30').checked,
            name30: document.getElementById('ten_v30').value,
            type30: document.getElementById('loai_v30').value,

            status31: document.getElementById('st_v31').checked,
            name31: document.getElementById('ten_v31').value,
            type31: document.getElementById('loai_v31').value,

            status32: document.getElementById('st_v32').checked,
            name32: document.getElementById('ten_v32').value,
            type32: document.getElementById('loai_v32').value,

            status33: document.getElementById('st_v33').checked,
            name33: document.getElementById('ten_v33').value,
            type33: document.getElementById('loai_v33').value,

            status34: document.getElementById('st_v34').checked,
            name34: document.getElementById('ten_v34').value,
            type34: document.getElementById('loai_v34').value,

            status35: document.getElementById('st_v35').checked,
            name35: document.getElementById('ten_v35').value,
            type35: document.getElementById('loai_v35').value,

            status36: document.getElementById('st_v36').checked,
            name36: document.getElementById('ten_v36').value,
            type36: document.getElementById('loai_v36').value,

            status37: document.getElementById('st_v37').checked,
            name37: document.getElementById('ten_v37').value,
            type37: document.getElementById('loai_v37').value,

            status38: document.getElementById('st_v38').checked,
            name38: document.getElementById('ten_v38').value,
            type38: document.getElementById('loai_v38').value,

            status39: document.getElementById('st_v39').checked,
            name39: document.getElementById('ten_v39').value,
            type39: document.getElementById('loai_v39').value,
            //-------
            status40: document.getElementById('st_v40').checked,
            name40: document.getElementById('ten_v40').value,
            type40: document.getElementById('loai_v40').value,

            status41: document.getElementById('st_v41').checked,
            name41: document.getElementById('ten_v41').value,
            type41: document.getElementById('loai_v41').value,

            status42: document.getElementById('st_v42').checked,
            name42: document.getElementById('ten_v42').value,
            type42: document.getElementById('loai_v42').value,

            status43: document.getElementById('st_v43').checked,
            name43: document.getElementById('ten_v43').value,
            type43: document.getElementById('loai_v43').value,

            status44: document.getElementById('st_v44').checked,
            name44: document.getElementById('ten_v44').value,
            type44: document.getElementById('loai_v44').value,

            status45: document.getElementById('st_v45').checked,
            name45: document.getElementById('ten_v45').value,
            type45: document.getElementById('loai_v45').value,

            status46: document.getElementById('st_v46').checked,
            name46: document.getElementById('ten_v46').value,
            type46: document.getElementById('loai_v46').value,

            status47: document.getElementById('st_v47').checked,
            name47: document.getElementById('ten_v47').value,
            type47: document.getElementById('loai_v47').value,

            status48: document.getElementById('st_v48').checked,
            name48: document.getElementById('ten_v48').value,
            type48: document.getElementById('loai_v48').value,

            status49: document.getElementById('st_v49').checked,
            name49: document.getElementById('ten_v49').value,
            type49: document.getElementById('loai_v49').value,
            status50: document.getElementById('st_v50').checked,
            name50: document.getElementById('ten_v50').value,
            type50: document.getElementById('loai_v50').value,
            },
        function (data) {
            if (data == -1) {

            }
            else {
                $.post('/Settings/Index/', function (result) {
                    // Do something with the result like for example inject it into
                    // some placeholder and update the DOM.
                    // This obviously assumes that your controller action returns
                    // a partial view otherwise you will break your markup
                });
                alert("Lưu thông tin thành công");

            }
        });
        }

    </script>
    <script>
        function setDefault() {
            var x = document.getElementById("loaiCauHinh").value;
            if(x == "PT")
            {
                document.getElementById("st_v1").checked = true;
                document.getElementById("st_v1").disabled = true;
                document.getElementById("ten_v1").value = "Tên phòng thi";
                document.getElementById("ten_v1").readOnly = true;
                document.getElementById("loai_v1").value = "text";
                document.getElementById("loai_v1").disabled = true;

                document.getElementById("st_v2").checked = true;
                document.getElementById("st_v2").disabled = true;
                document.getElementById("ten_v2").value = "Từ SBD";
                document.getElementById("ten_v2").readOnly = true;
                document.getElementById("loai_v2").value = "text";
                document.getElementById("loai_v2").disabled = true;

                document.getElementById("st_v3").checked = true;
                document.getElementById("st_v3").disabled = true;
                document.getElementById("ten_v3").value = "Đến SBD";
                document.getElementById("ten_v3").readOnly = true;
                document.getElementById("loai_v3").value = "text";
                document.getElementById("loai_v3").disabled = true;

                document.getElementById("st_v4").checked = true;
                document.getElementById("st_v4").disabled = true;
                document.getElementById("ten_v4").value = "Số lượng thí sinh";
                document.getElementById("ten_v4").readOnly = true;
                document.getElementById("loai_v4").value = "text";
                document.getElementById("loai_v4").disabled = true;

                document.getElementById("st_v5").checked = true;
                document.getElementById("st_v5").disabled = true;
                document.getElementById("ten_v5").value = "Mô tả";
                document.getElementById("ten_v5").readOnly = true;
                document.getElementById("loai_v5").value = "text";
                document.getElementById("loai_v5").disabled = true;

                document.getElementById("st_v6").checked = true;
                document.getElementById("st_v6").disabled = true;
                document.getElementById("ten_v6").value = "Ghi chú";
                document.getElementById("ten_v6").readOnly = true;
                document.getElementById("loai_v6").value = "text";
                document.getElementById("loai_v6").disabled = true;
            }
            else
            {
                document.getElementById("st_v1").checked = false;
                document.getElementById("st_v1").disabled = false;
                document.getElementById("ten_v1").value = "";
                document.getElementById("ten_v1").readOnly = false;
                document.getElementById("loai_v1").value = "text";
                document.getElementById("loai_v1").disabled = false;

                document.getElementById("st_v2").checked = false;
                document.getElementById("st_v2").disabled = false;
                document.getElementById("ten_v2").value = "";
                document.getElementById("ten_v2").readOnly = false;
                document.getElementById("loai_v2").value = "text";
                document.getElementById("loai_v2").disabled = false;

                document.getElementById("st_v3").checked = false;
                document.getElementById("st_v3").disabled = false;
                document.getElementById("ten_v3").value = "";
                document.getElementById("ten_v3").readOnly = false;
                document.getElementById("loai_v3").value = "text";
                document.getElementById("loai_v3").disabled = false;

                document.getElementById("st_v4").checked = false;
                document.getElementById("st_v4").disabled = false;
                document.getElementById("ten_v4").value = "";
                document.getElementById("ten_v4").readOnly = false;
                document.getElementById("loai_v4").value = "text";
                document.getElementById("loai_v4").disabled = false;

                document.getElementById("st_v5").checked = false;
                document.getElementById("st_v5").disabled = false;
                document.getElementById("ten_v5").value = "";
                document.getElementById("ten_v5").readOnly = false;
                document.getElementById("loai_v5").value = "text";
                document.getElementById("loai_v5").disabled = false;

                document.getElementById("st_v6").checked = false;
                document.getElementById("st_v6").disabled = false;
                document.getElementById("ten_v6").value = "";
                document.getElementById("ten_v6").readOnly = false;
                document.getElementById("loai_v6").value = "text";
                document.getElementById("loai_v6").disabled = false;
            }
        }
    </script>
}

@section path{
    <li><a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li><a href="/Settings/Index">Cấu hình tham số</a></li>
    <li class="active" id="">Thêm mới</li>
}
<div style="margin:10px 100px 5px 100px">
    <input id="txtId" hidden />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Loại cấu hình</label>
                <select onchange="setDefault();" class="form-control" id="loaiCauHinh">
                    <option value="MT">Cấu hình thông tin thí sinh</option>
                    <option value="PT">Cấu hình thông tin phòng thi</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tên cấu hình</label>
                <input type="text" id="tenCauHinh" class="form-control" placeholder="Nhập ...">
            </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>

    <div class="row" style="margin-top:10px">

        <div class="col-lg-12">
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            01
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v1">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v1" placeholder="Nhập tên value 1..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v1">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                          02
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v2">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v2" placeholder="Nhập tên value 2..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v2">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            03
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v3">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v3" placeholder="Nhập tên value 3..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v3">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            04
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v4">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v4" placeholder="Nhập tên value 4..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v4">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            05
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v5">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v5" placeholder="Nhập tên value 5..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v5">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            06
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v6">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v6" placeholder="Nhập tên value 6..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v6">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>

            </div>

            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            07
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v7">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v7" placeholder="Nhập tên value 7..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v7">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                           08
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v8">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v8" placeholder="Nhập tên value 8..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v8">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            09
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v9">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v9" placeholder="Nhập tên value 9..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v9">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                           10
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v10">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v10" placeholder="Nhập tên value 10..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v10">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            11
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v11">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v11" placeholder="Nhập tên value 11..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v11">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            12
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v12">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v12" placeholder="Nhập tên value 12..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v12">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>

            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            13
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v13">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v13" placeholder="Nhập tên value 13..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v13">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            14
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v14">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v14" placeholder="Nhập tên value 14..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v14">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            15
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v15">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v15" placeholder="Nhập tên value 15..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v15">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            16
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v16">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v16" placeholder="Nhập tên value 16..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v16">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            17
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v17">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v17" placeholder="Nhập tên value 17..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v17">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            18
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v18">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v18" placeholder="Nhập tên value 18..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v18">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            19
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v19">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v19" placeholder="Nhập tên value 19..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v19">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            20
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v20">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v20" placeholder="Nhập tên value 20..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v20">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            21
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v21">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v21" placeholder="Nhập tên value 21..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v21">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>

            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            22
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v22">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v22" placeholder="Nhập tên value 22..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v22">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            23
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v23">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v23" placeholder="Nhập tên value 23..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v23">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            24
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v24">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v24" placeholder="Nhập tên value 24..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v24">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            25
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v25">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v25" placeholder="Nhập tên value 25..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v25">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            26
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v26">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v26" placeholder="Nhập tên value 26..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v26">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            27
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v27">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v27" placeholder="Nhập tên value 27..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v27">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            28
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v28">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v28" placeholder="Nhập tên value 28..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v28">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            29
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v29">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v29" placeholder="Nhập tên value 29..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v29">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            30
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v30">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v30" placeholder="Nhập tên value 30..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v30">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            31
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v31">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v31" placeholder="Nhập tên value 31..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v31">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            32
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v32">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v32" placeholder="Nhập tên value 32..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v32">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            33
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v33">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v33" placeholder="Nhập tên value 33..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v33">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            34
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v34">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v34" placeholder="Nhập tên value 34..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v34">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            35
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v35">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v35" placeholder="Nhập tên value 35..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v35">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            36
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v36">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v36" placeholder="Nhập tên value 36..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v36">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>

            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            37
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v37">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v37" placeholder="Nhập tên value 37..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v37">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            38
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v38">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v38" placeholder="Nhập tên value 38..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v38">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            39
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v39">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v39" placeholder="Nhập tên value 39..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v39">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            40
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v40">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v40" placeholder="Nhập tên value 40..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v40">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            41
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v41">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v41" placeholder="Nhập tên value 41..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v41">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            42
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v42">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v42" placeholder="Nhập tên value 42..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v42">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            43
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v43">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v43" placeholder="Nhập tên value 43..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v43">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            44
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v44">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v44" placeholder="Nhập tên value 44..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v44">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            45
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v45">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v45" placeholder="Nhập tên value 45..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v45">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            46
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v46">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v46" placeholder="Nhập tên value 46..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v46">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            47
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v47">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v47" placeholder="Nhập tên value 47..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v47">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            48
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v48">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v48" placeholder="Nhập tên value 48..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v48">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                            49
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v49">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v49" placeholder="Nhập tên value 13..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v49">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-lg-1">

                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" style="width:0.05%">
                           50
                        </span>
                        <span class="input-group-addon" style="width:0.05%">
                            <input type="checkbox" id="st_v50">
                        </span>
                        <span class="input-group-btn">
                            <input type="text" id="ten_v50" placeholder="Nhập tên value 50..." class="form-control">
                        </span>
                        <span class="input-group-btn">
                            <select class="form-control" id="loai_v50">
                                <option value="date">Datetime</option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </span>

                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-1">

                </div>
            </div>
        </div>

    </div>

    <button type="button" class="btn btn-primary" style="width:auto" onclick="Save();">Lưu</button>
</div>

