@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lst_MT = (List<string>)ViewBag.lst_MT;
    var lst_PT = (List<string>)ViewBag.lst_PT;
}
@section Styles
{
    <link href="~/Content/select2.css" rel="stylesheet" />
}
@section script
{
    <script src="~/dist/js/jquery.dataTables.js"></script>
    <script src="~/dist/js/dataTables.bootstrap4.js"></script>
    <!-- #region RELOAD -->
    <script>
        function reload()
        {
            location.reload();
            document.getElementById('search').value = "";
        }
    </script>
    <!-- #endregion -->
    <!-- #region Tạo bảng dữ liệu -->
    <script>

    $(document).ready(function () {
           var t =  $("#demoGrid").DataTable({
                initComplete: function() {
                    $(this.api().table().container()).find('input').parent().wrap('<form>').parent().attr('autocomplete', 'off');
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 50,

                "ajax": {
                    "url": "/Settings/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
 [{ "width": "50px", "targets": 0 },
    {
        "targets": [ 1,  4, 5],
        "visible": false,
    },
 {
     "targets": [2,6],
     "searchable": false,
     "orderable": false,
     "className" : 'text-center'
    }
 ],

                "columns": [
                      { "data": "Id", "name": "Id", "autoWidth": true },
                      { "data": "ID_Settings", "name": "ID_Settings", "autoWidth": true },
                      { "data": "Loai", "name": "Loai", "autoWidth": true },
                      { "data": "Ten", "name": "Ten", "autoWidth": true },
                      { "data": "create_date", "name": "create_date", "autoWidth": true },
                      { "data": "create_user", "name": "create_user", "autoWidth": true },
                      {
                          "render": function (data, type, full, meta)

                          {
                              return '<a type="button" href ="/Settings/Edit/' + full.Id + '" data-target="#createModal" style="padding:2px 6px;margin-left: 10px;border-radius: 10px !important;" class="btn btn-info"><i class="fa fa-edit"></i></a>' +
                                    '<button type="button"  onclick = "DeleteData(' + full.Id + ')" style="padding:2px 6px;margin-left: 10px;border-radius: 10px !important;" class="btn btn-danger"><i class="fa fa-trash"></i></button>' ;
                          }
                      },
                ]
           });
           t.on('draw.dt', function () {
               var PageInfo = $('#demoGrid').DataTable().page.info();
               t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                   cell.innerHTML = i + 1 + PageInfo.start;
               });
           });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("input[type='search']").wrap("<form>");
            $("input[type='search']").closest("form").attr("autocomplete", "off");
        });
    </script>
    <!-- #endregion -->
    <script>
        function DeleteData(id) {
            var r = confirm("Xác nhận xoá cấu hình");
            if (r == true) {
                $.post("@Url.Action("deleteJS", "Settings")",
            {
                id: id
            },
            function (data) {
                if (data == -1) {
                    alert("Không thể xoá cấu hình đang được sử dụng");
                }
                else {
                    location.reload();
                    alert("Xóa thành công");
                }
            });
            } else {

            }
        }
    </script>

    <!-- #endregion -->
}

@section path{
    <li><a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li><a href="/settings/Index">Danh sách cấu hình</a></li>
    <li class="active" id=""></li>
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="box-body" style="padding:0px !important; margin-bottom:5px;text-align:right">

                <button type="button" class="btn btn-primary" onclick="ResetForm()" style="border-radius:10px;" @*data-toggle="modal" data-target="#createModal"*@>
                    <i class="fa fa-plus"></i><a style="color:white" href="/Settings/Create"> Thêm mới</a>
                </button>
                <a class="btn btn-default" onclick="reload();" id="btnrefresh" title="Tải lại dữ liệu mới"><i class="fa fa-refresh"></i> Tải lại</a>

            </div>
            <div class="nav-tabs-custom" style="border-top:1px solid #f9fafc">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_1" aria-expanded="true" id="zoneTong1">Danh sách cấu hình</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab_1" class="tab-pane active">
                    <div class="box">


                        <div class="box-body" style="padding:0px !important; margin-bottom:10px">
                            <div id="tbldata_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                    <div class="col-sm-12">

                                        <table id="demoGrid" class="table table-bordered table-hover dataTable" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th></th>
                                                    <th></th>
                                                    <th>Loại cấu hình</th>
                                                    <th>Tên cấu hình</th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                        </table><div id="tbldata_processing" class="dataTables_processing" style="display: none;">Đang tải dữ liệu...</div>
                                    </div>
                                </div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"></div></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Model thêm mới ki` thi-->
<div class="modal fade in" id="createModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="">Thêm mới kỳ thi</h4><h4 class="modal-title" style="color:red" id="myModalLabel"></h4>
                <input type="hidden" value="">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- row -->
                        <div style="width:100%" class="hidden">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">ID :</label>
                            </div>
                            <div style="width:80%; float:left">
                                <input type="text" id="txtID" class="form-control" placeholder="" value="" autocomplete="off">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- row -->
                        <div style="width:100%">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">Hội đồng thi :</label>
                            </div>
                            <div style="width:80%; float:left">
                                <input type="text" id="txtHoiDongThi" class="form-control" placeholder="Nhập tên hội đồng thi" value="">
                            </div>
                            <div class="clear"></div>
                        </div>

                        <!-- row -->
                        <div style="width:100%">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">Khóa thi :</label>
                            </div>
                            <div style="width:80%; float:left">
                                <input type="text" id="txtKhoaThi" placeholder="Nhập tên khóa thi" value="" class="form-control">
                            </div>
                            <div class="clear"></div>
                        </div>

                        <!-- row -->
                        <div style="width:100%">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">Năm thi:</label>
                            </div>
                            <div style="width:80%; float:left">
                                <input type="text" id="txtNamThi" placeholder="Nhập năm thi" value="" class="form-control">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!---------------------------------------------------------------------------------------->
                        @*row*@
                        <div style="width:100%">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">Cấu hình TTPT (*):</label>
                            </div>
                            <div style="width:80%; float:left">
                                <select id="txtCauHinhPhongThi" data-placeholder="Chọn cấu hình phòng thi..." class="select-opt" tabindex="-1" aria-hidden="true">
                                    <option value="-1"> --Cấu hình phòng thi-- </option>
                                    @foreach (var item in lst_PT)
                                    {
                                        <option value="@item">@item - Cấu hình @item  </option>
                                    }
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @*row*@
                        <div style="width:100%">
                            <div style="width:20%; float:left">
                                <label style="margin-top: 5px">Cấu hình MT (*):</label>
                            </div>
                            <div style="width:80%; float:left">
                                <select id="txtCauHinhMonThi" data-placeholder="Chọn cấu hình môn thi..." class="select-opt" tabindex="-1" aria-hidden="true">
                                    <option value="-1"> --Cấu hình môn thi-- </option>

                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>

            </div>
            <div id="notify"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-window-close-o"></i> Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveorCreate();" id="btnSave"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
